@model AccionInmediataModels
@{
    var DescripcionTrim = "";
    @if (Model.AccionUnica.Descripcion == null)
    {
        DescripcionTrim = "";
    }
    else
    {
        DescripcionTrim = Model.AccionUnica.Descripcion.TrimEnd();
    }
}
<div class="row">
    <!-- Welcome -->
    <div class="col-lg-12">
        <div class="alert alert-info">
            <i></i><P>EDITAR ACCION INMEDIATA  </P>
        </div>
    </div>
    <!--end  Welcome -->
</div>
<div>
    <div class="col-lg-10">
        <form asp-action="FormularioEditAccionInmediata" class="form-horizontal" method="post">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="@Model.AccionUnica.EventoId" class="col-lg-2 ">Evento Id</label>
                <div class="col-lg-5">
                    <input asp-for="@Model.AccionUnica.EventoId" class="form-control" placeholder="Id" required readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.AccionUnica.Id" class="col-lg-2 ">Accion Inmediata Id</label>
                <div class="col-lg-5">
                    <input asp-for="@Model.AccionUnica.Id" class="form-control" placeholder="Id" required readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.EventoId" class="col-lg-2 ">Nombre Responsable:</label>
                <div class="col-lg-5">
                    <input asp-for="@Model.NombreCompleto" class="form-control" placeholder="" readonly="readonly" id="ResponsableId" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 ">Rut Responsable:</label>
                <div class="col-lg-5">
                    <input asp-for="@Model.RutPersona" class="form-control" placeholder="" required readonly="readonly" id="RutResponsableId" />
                </div>
            </div>
            @if (Model.AccionUnica.Efectivo!=null)
            {
                @if (Model.AccionUnica.Efectivo == true)
                {
                    <div class="form-group">
                        <label class="col-lg-2">¿Es Efectiva?</label>
                        <div class="col-lg-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="Efectiva" id="opciones_1" value="true" required checked>
                                    SI
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="Efectiva" id="opciones_2" value="false" required>
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label class="col-lg-2">¿Es Efectiva?</label>
                        <div class="col-lg-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="Efectiva" id="opciones_1" value="true" required>
                                    SI
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="Efectiva" id="opciones_2" value="false" required checked>
                                    NO
                                </label>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="form-group">
                <label asp-for="@Model.AccionUnica.Descripcion" class="col-lg-2 ">Descripción</label>
                <div class="col-lg-5">
                    <textarea asp-for="@DescripcionTrim" name="Descripcion" class="form-control" 
                              placeholder="Descripcion"  required> </textarea>
                </div>
            </div>
            <div class="text-danger" asp-validation-summary="All"></div>
            <button type="submit" class="btn btn-warning">Editar</button>
            <a class="btn btn-primary" data-toggle="modal" data-target="#myModalBuscar">Responsable</a>
            <a asp-action="Index"  asp-controller="EventoSecuencia" class="btn btn-default" asp-route-EventoID="@Model.AccionUnica.EventoId.TrimEnd()">Cancelar</a>
        </form>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="modal fade" id="myModalBuscar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="font-weight: bold;"><font color="#585858">Asignar Responsable</font></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nombre Persona</label>
                        <div class="col-lg-8">
                            <input class="form-control" id="NombrePersonaInvolucrado" placeholder="Nombre Persona">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>
                        <div class="col-lg-8">
                            <a class="btn btn-primary btn-sm" onclick="getPersonaAjax('getPersonaModalAjax')">
                                Buscar
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="tablaResponsable"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    function getPersonaAjax(action) {
        var valor = document.getElementById("NombrePersonaInvolucrado").value;
        $.ajax({
            type: "POST",
            url: action,
            data: { valor },
            success: function (response) {
                console.log(response);
                OnSuccess2(response);
            }
        });
    }
</script>
<script>
    var items;
    function OnSuccess2(response) {
        items = response;
        if (response.length == 0) {
            alert("No hay personas con ese nombre");
        }
        else {
            var datos = "<thead><tr><th>Rut</th><th>Nombre</th><th>Area</th><th>SubArea</th><th>Cargo</th><th>Acción</th></tr></thead><tbody>";
            $.each(items, function (i, row) {
                datos += "<tr><td>" + row.rut + "</td><td>" + row.nombre + "</td><td>" + row.area + "</td><td>" + row.subArea + "</td><td>" + row.cargo + "</td><td>" + "<a onclick='AsignarResponsable(" + '"' + row.rut + '"' + ',' + '"' + row.nombre + '"' + ")' class='btn btn-primary btn-sm'>Asignar</a>" + "</td></tr>"
            });
            datos += "</tbody></thead>";
            $('#tablaResponsable').html(datos)
        }
    }
</script>
<script>
    function AsignarResponsable(rut,nombre) {
        var action = "AsignarResponsableModal";
        $('input[id=ResponsableId]').val(nombre);
        $('input[id=RutResponsableId]').val(rut);
            }
</script>