@model RespuestaClienteModel

<div class="row">
    <!-- Welcome -->
    <div class="col-lg-12">
        <div class="alert alert-info">
            <i></i><P>EDITAR RESPUESTA CLIENTE </P>
        </div>
    </div>

</div>
<form asp-action="EditarRespuestaCliente" asp-controller="Home" enctype="multipart/form-data" class="form-horizontal" role="form" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label class="col-lg-2">EventoId</label>
        <div class="col-lg-3">
            <input class="form-control" asp-for="@Model.EventoId" id="opciones_1" value="@Model.EventoId" readonly="readonly" />
        </div>
    </div>

    <div class="form-group">
        @*<label  class="col-lg-2 control-label">Fecha Identificacion</label>*@
        @Html.Label("Fecha Registro", null, new { @class = " col-lg-2" })
        <div class="col-lg-3">
            <input asp-for="@Model.FechaRegistro" class="form-control" name="FechaRegistro" type="date" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2">Descripción</label>
        <div class="col-lg-5">
            <textarea asp-for="@Model.Descripcion" class="form-control" id="textarea" name="Descripcion"
                      placeholder="Descripción" required> </textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2">Archivos</label>
        <div class="col-lg-5">
            <p>Se puede seleccionar uno o mas archivos</p>
            <input type="file" name="files" multiple />
        </div>


    </div>

    <button type="submit" class="btn btn-warning">Editar</button>
    <a asp-action="Index" asp-controller="EventoSecuencia" class="btn btn-default" asp-route-EventoID="@Model.EventoId">Cancelar</a>
</form>
