@model AccionCorrectivaModels
@{ 
    var causaVariable = "";
    @if (Model.AccionUnica.Causa!=null)
    {
    causaVariable = Model.AccionUnica.Causa.TrimEnd();
    }
    var AccionCorrectivaVariable = "";
    @if (Model.AccionUnica.AccionCorrectiva1 != null)
    {
    AccionCorrectivaVariable = Model.AccionUnica.AccionCorrectiva1.TrimEnd();
    }
    var DescripcionVariable = "";
    @if (Model.AccionUnica.Descripcion != null)
    {
    DescripcionVariable = Model.AccionUnica.Descripcion.TrimEnd();
    }
}
<div class="row">
    <!-- Welcome -->
    <div class="col-lg-12">
        <div class="alert alert-info">
            <i></i><P>EDITAR ACCION CORRECTIVA</P>
        </div>
    </div>
    <!--end  Welcome -->
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-parent="#accordion">
                Especificación Acción Correctiva
            </a>
        </h4>
    </div>
    <div id="collapseThree" class="panel-collapse ">
        <div class="panel-body center-block">         
                <form asp-action="FormularioEditAccionCorrectiva" asp-controller="AccionCorrectiva" class="form-horizontal " method="post">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label class="col-lg-2 ">Evento Id:</label>
                        <div class="col-lg-5">
                            <input asp-for="@Model.AccionUnica.EventoId" class="form-control" placeholder="Id" required readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 ">Accion Correctiva Id:</label>
                        <div class="col-lg-5">
                            <input asp-for="@Model.AccionUnica.Id" class="form-control" placeholder="Id" required readonly="readonly" />
                        </div>
                    </div>
     

                    <div class="form-group">
                        <label class="col-lg-2 ">Nombre Responsable:</label>
                        <div class="col-lg-5">
                            <input asp-for="@Model.NombreCompleto" class="form-control" placeholder="" readonly="readonly" id="ResponsableId" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 ">Rut Responsable:</label>
                        <div class="col-lg-5">
                            <input asp-for="@Model.RutPersona" class="form-control" placeholder="" required readonly="readonly" id="RutResponsableId" />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Fecha Limite:", null, new { @class = " col-lg-2" })
                        <div class="col-lg-5">
                            <input class="form-control" name="FechaLimite" asp-for="@Model.AccionUnica.FechaLimite" type="date" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Causa" class="col-lg-2">Causa:</label>
                        <div class="col-lg-5">
                            <textarea asp-for="@causaVariable" name="Causa" class="form-control" id="textarea"
                                      placeholder="Causa"> </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.AccionCorrectiva" class="col-lg-2">Acción Correctiva:</label>
                        <div class="col-lg-5">
                            <textarea asp-for="@AccionCorrectivaVariable" name="AccionCorrectiva" class="form-control" id="textarea"
                                      placeholder="Accion Correctiva" required> </textarea>
                        </div>
                    </div>
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <button type="submit" class="btn btn-warning">Editar Especificación</button>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#myModalBuscar">Responsable</a>
                </form>            
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-parent="#accordion">
                Ejecución Acción Correctiva
            </a>
        </h4>
    </div>
    <div id="collapseThree" class="panel-collapse ">
        <div class="panel-body">
            <form asp-action="FormularioEditarArchivoAccionCorrectiva" asp-controller="AccionCorrectiva" enctype="multipart/form-data" class="form-horizontal" role="form" method="post">
                <div class="text-danger" asp-validation-summary="All"></div>   
                <div class="form-group" hidden>
                        <label class="col-lg-2 ">Evento Id</label>
                        <div class="col-lg-5">
                            <input asp-for="@Model.AccionUnica.EventoId" class="form-control" placeholder="Id" required readonly="readonly" />
                        </div>
                    </div>

                    <div class="form-group" hidden>
                        <label class="col-lg-2 ">Accion Correctiva Id</label>
                        <div class="col-lg-5">
                            <input asp-for="@Model.AccionUnica.Id" class="form-control" placeholder="Id" required readonly="readonly" />
                        </div>
                    </div>
                    @if (Model.AccionUnica.FechaEjecucion != null)
                    {
                        <div class="form-group">
                            @Html.Label("Fecha Ejecución", null, new { @class = " col-lg-2" })
                            <div class="col-lg-5">
                                <input class="form-control" name="FechaEjecucion" asp-for="@Model.AccionUnica.FechaEjecucion" type="date" required />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            @Html.Label("Fecha Ejecución", null, new { @class = " col-lg-2" })
                            <div class="col-lg-5">
                                <input class="form-control" name="FechaEjecucion" type="date" required />
                            </div>
                        </div>
                    }
                       <div class="form-group">
                            <label asp-for="@Model.Descripcion" class="col-lg-2 ">Descripción</label>
                            <div class="col-lg-5">
                                <textarea name="Descripcion" class="form-control" asp-for="@DescripcionVariable" id="TextDescripcion"
                                          placeholder="Descripcion" required> </textarea>
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="col-lg-2">Archivos</label>
                        <div class="col-lg-5">
                            <p>Se puede seleccionar uno o mas archivos</p>
                            <input type="file" name="files" multiple />
                        </div>
                    </div>
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <button type="submit" class="btn btn-warning">Editar Ejecución</button>
                    <label>Nota: Al editar tambien se adjuntan los archivos seleccionados</label>
                <div class="text-danger" asp-validation-summary="All"></div>
                </form>
            @if (Model.ListaArchivos.Where(c => !c.Removed == true && c.Tipo.TrimEnd().Equals("AccionCorrectiva") && c.Identificador2.TrimEnd().Equals(Model.AccionUnica.Id.TrimEnd())).Count() > 0)
            {
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Archivos</th>
                            <th>Fecha Registro</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ar in Model.ListaArchivos.Where(c => !c.Removed == true && c.Tipo.TrimEnd().Equals("AccionCorrectiva") && c.Identificador2.TrimEnd().Equals(Model.AccionUnica.Id.TrimEnd())))
                        {
                            <tr>
                                <td><a style="color:dodgerblue">@ar.Nombre</a></td>
                                <td>@ar.FechaRegistro</td>
                                <td>
                                    <form asp-action="Delete" method="post">
                                        <a asp-action="DownloadACFile" asp-controller="AccionCorrectiva" class="btn btn-sm btn-default" asp-route-Identificador="@ar.Identificador.TrimEnd()" asp-route-filename="@ar.Nombre.TrimEnd()" asp-route-Tipo="AccionCorrectiva" asp-route-IdAC="@Model.AccionUnica.Id.TrimEnd()">Descargar</a>
                                        @if (User.IsInRole("Calidad") || User.IsInRole("Admins"))
                                        {
                                            @*<a asp-action="DeleteArchivoEdit" asp-controller="AccionCorrectiva" class="btn btn-danger btn-sm" asp-route-FileId="@ar.FileId" asp-route-EventoId="@Model.AccionUnica.EventoId.TrimEnd()">
                                                Eliminar
                                            </a>*@
                                            <a onclick="ConfirmarEliminarArchivo('@ar.FileId')" class="btn btn-sm  btn-danger">Eliminar</a>
                                        }
                                        else
                                        {
                                        }
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
       </div>
    </div>
</div>
<a asp-action="Index" asp-controller="EventoSecuencia" class="btn btn-default" asp-route-EventoID="@Model.AccionUnica.EventoId.TrimEnd()">Cancelar</a>
<div class="modal fade" id="myModalBuscar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="font-weight: bold;"><font color="#585858">Asignar Responsable</font></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nombre Persona</label>
                        <div class="col-lg-8">
                            <input class="form-control" id="NombrePersonaInvolucrado" placeholder="Nombre Persona">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>
                        <div class="col-lg-8">
                            <a class="btn btn-primary btn-sm" onclick="getPersonaAjax('getPersonaModalAjax')">
                                Buscar
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="tablaResponsable"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    function getPersonaAjax(action) {
        var valor = document.getElementById("NombrePersonaInvolucrado").value;
        $.ajax({
            type: "POST",
            url: action,
            data: { valor },
            success: function (response) {
                console.log(response);
                OnSuccess2(response);
            }
        });
    }
</script>
<script>
    var items;
    function OnSuccess2(response) {
        items = response;
        if (response.length == 0) {
            alert("No hay personas con ese nombre");
        }
        else {
            var datos = "<thead><tr><th>Rut</th><th>Nombre</th><th>Area</th><th>SubArea</th><th>Cargo</th><th>Acción</th></tr></thead><tbody>";
            $.each(items, function (i, row) {
                datos += "<tr><td>" + row.rut + "</td><td>" + row.nombre + "</td><td>" + row.area + "</td><td>" + row.subArea + "</td><td>" + row.cargo + "</td><td>" + "<a onclick='AsignarResponsable(" + '"' + row.rut + '"' + ',' + '"' + row.nombre + '"' + ")' class='btn btn-default btn-sm'>Asignar</a>" + "</td></tr>"
            });
            datos += "</tbody></thead>";
            $('#tablaResponsable').html(datos)
        }
    }
</script>
<script>
    function AsignarResponsable(rut, nombre) {
        var action = "AsignarResponsableModal";
        $('input[id=ResponsableId]').val(nombre);
        $('input[id=RutResponsableId]').val(rut);
    }
</script>
<script>
    function ConfirmarEliminarArchivo(Id) {
        confirmar = confirm("¿Esta seguro de eliminar el archivo?");
        if (confirmar) {
            EliminarArchivo(Id);
        }
    }
</script>
<script>
            function EliminarArchivo(Id) {
                var idEventoVariable = "@Model.AccionUnica.EventoId.TrimEnd()";
                var action = "/EventoSecuencia/DeleteArchivo";

                $.ajax({
                    type: "POST",
                    url: action,
                    data: { EventoId: idEventoVariable, FileId: Id },
                    success: function (response) {
                        location.reload();
                    }
                });
            }
</script>



