@model CreateModelo
@{
    ViewData["Title"] = "Datos Page";
}

@{
    string NombreModelo = null;
    if (Model.ModeloUnico.Nombre != null)
    {
        NombreModelo = Model.ModeloUnico.Nombre.TrimEnd();
    }
}


<div class="row">
    <!-- Welcome -->
    <div class="col-lg-12">
        <div class="alert alert-info">
            <i></i><P>EDIT MODELO</P>

        </div>
    </div>
    <!--end  Welcome -->
</div>

<div>
    <div class="col-lg-10">
        <form asp-action="FormularioEditModelo" class="form-horizontal" method="post">

            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group" hidden>
                <label asp-for="@Model.ModeloUnico.IdEquipo" class="col-lg-2 ">Id Equipo</label>
                <div class="col-lg-3">
                    <input asp-for="@Model.ModeloUnico.IdEquipo" class="form-control" required value="@Model.ModeloUnico.IdEquipo" readonly="readonly" />
                </div>
            </div>

            <div class="form-group" hidden>
                <label  class="col-lg-2 ">Nombre Equipo</label>
                <div class="col-lg-3">
                    <input  class="form-control" required value="@Model.ListaEquipos.FirstOrDefault(c=>c.Id== Model.ModeloUnico.IdEquipo).Nombre" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ModeloUnico.Id" class="col-lg-2 ">Id Modelo</label>
                <div class="col-lg-3">
                    <input asp-for="@Model.ModeloUnico.Id" class="form-control" required value="@Model.ModeloUnico.Id" readonly="readonly" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ModeloUnico.Nombre" class="col-lg-2 ">Nombre Modelo</label>
                <div class="col-lg-3">
                    <input asp-for="Nombre" class="form-control" required value="@NombreModelo"/>
                </div>
            </div>




            <button type="submit" class="btn btn-primary">Editar Modelo</button>
         
            <a asp-action="IndiceModelos" class="btn btn-default" asp-route-EquipoId="@Model.ModeloUnico.IdEquipo">Cancelar</a>
        </form>
    </div>
    <div class="col-lg-2">

    </div>
</div>