@model ListaEquipo


<div class="row">
    <!-- Welcome -->
    <div class="col-lg-12">
        <div class="alert alert-info">
            <i></i><P>EQUIPOS</P>

        </div>
    </div>
    <!--end  Welcome -->
</div>

<table class="table table-condensed table-bordered">
    @if (Model.ListaEquipos.Count() == 0)
    {
        <tr><td colspan="3" class="text-center"><font color="red">No existen equipos en el sistema!</font></td></tr>
    }
    else
    {
        <tr><th>Id</th><th>Nombre</th><th>Acción</th></tr>

        foreach (var Equipo in Model.ListaEquipos)
        {
            <tr>
                <td>@Equipo.Id</td>
                <td>@Equipo.Nombre</td>
                
      
                @*<td>@{ var nombre= from e in Model.ListaPersonas
                    where e.Rut == area.RutJefe
                    select e.Nombre;   } @nombre</td>*@
                @*<td>@Model.ListaPersonas.FirstOrDefault(c=>c.Rut==area.RutJefe).Nombre</td>*@
                @*<td>@Model.ListaPersonas.Select(c => new { nombreCompleto = c.Nombre + c.ApellidoPaterno, rut = c.Rut }).FirstOrDefault(c => c.rut == area.RutJefe).nombreCompleto</td>*@


                <td class="text-center">
                    <form asp-action="Delete" method="post">
                        <a asp-action="IndiceModelos" class="btn btn-sm btn-primary" asp-route-EquipoId="@Equipo.Id">Modelos</a>
                        <a asp-action="FormularioEditEquipo" class="btn btn-sm btn-warning" asp-route-EquipoId="@Equipo.Id">Editar</a>
                        @*<a asp-action="DeleteEquipo" class="btn btn-danger btn-sm" asp-route-EquipoId="@Equipo.Id">
                            Eliminar
                        </a>*@
                        <a class="btn btn-sm btn-danger" onclick="ConfirmarEliminarEquipo('@Equipo.Id')">Eliminar</a>
                    </form>
                </td>


            </tr>
        }
    }
</table>
<a class="btn btn-primary" asp-action="FormularioCrearEquipo" asp-controller="Datos" >Crear Equipo</a>

<script>
    function ConfirmarEliminarEquipo(EquipoId) {
      
        confirmar = confirm("¿Esta seguro de eliminar el Equipo?");
        if (confirmar) {
            EliminarEquipo(EquipoId);
        }
    }
</script>
<script>

   function EliminarEquipo(EquipoId) {
       var action = "DeleteEquipo";
       $.ajax({
         type: "POST",
         url: action,
         data: { EquipoId: EquipoId },
         success: function (response) {
            location.reload();
              }
         });

        }

</script>